.header {
    background-color: $color-gray;
    padding: 72px 0;
    @media (max-width: $tablet) { &__logo {
        margin: 0 auto;
        width: 85px;
        display: block;
         img {
            width: 100%;
        }
    }
}
    
    &__nav {
        float: right;
         ul {
            list-style: none;
        }
        
         li {
            float: left;
            margin-right: 42px;
        }
        
         li:last-of-type {
            margin-right: 0;
        }
    }
    
    &__item {
        text-transform: uppercase;
        transition: .3s;
        line-height: 38px;
        &:hover {
            color: $color-gray2;
        }
        
        &_active {
            color: $color-gray2;
            font-weight: 500;
        }
    }
}

