@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #727272;
  line-height: 164%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

.wrapper {
  margin: 0 auto;
  width: calc(100% - 60px);
  max-width: 1100px;
}
@media (max-width: 576px) {
  .wrapper {
    width: calc(100% - 30px);
  }
}

.clearfix {
  clear: both;
}

.content {
  flex: 1 0 auto;
}

.header {
  background-color: #EEEFF1;
  padding: 72px 0;
  flex: 0 0 auto;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}
.header__logo {
  width: 85px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header__logo img {
  width: 100%;
}
.header__nav ul {
  list-style: none;
  display: flex;
  gap: 8px 24px;
  flex-wrap: wrap;
  letter-spacing: 0.1em;
}
.header__nav li {
  flex-shrink: 0;
}
.header__item {
  text-transform: uppercase;
  transition: 0.3s;
}
.header__item:hover {
  color: #34547A;
}
.header__item_active {
  color: #34547A;
  font-weight: 500;
}

@media (max-width: 768px) {
  .header .wrapper {
    flex-direction: column;
    row-gap: 34px;
  }
  .header__nav ul {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 36px 0;
  }
  .header__nav {
    text-align: center;
  }
  .header__nav ul {
    flex-direction: column;
  }
}

.first {
  background-color: #EEEFF1;
  height: max-content;
}
.first__blocks {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}
.first__description {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 50%;
}
.first__description h1 {
  line-height: 50px;
}
.first__image {
  display: flex;
}
.first__image-wrapper {
  max-width: 357px;
  width: 100%;
}
.first__image-wrapper img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  .first__description h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .first__description p {
    text-align: center;
  }
  .first__image {
    display: flex;
  }
  .first__image-wrapper {
    max-width: 357px;
    width: 100%;
  }
  .first__image-wrapper img {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first__blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .first__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
  }
  .first__description h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .first__description p {
    text-align: center;
  }
  .first__image {
    display: flex;
  }
  .first__image-wrapper {
    max-width: 357px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .first__image-wrapper img {
    max-width: 75%;
  }
}
.button {
  background-color: #34547A;
  color: #ffffff;
  font-family: "Roboto";
  letter-spacing: 0.1em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 41px;
  text-transform: uppercase;
  width: max-content;
}

.footer {
  background-color: #34547A;
  color: #ffffff;
  flex: 0 0 auto;
  padding: 50px 0;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.footer__sitename {
  font-weight: 500;
  font-size: 21px;
}
.footer__copyright {
  font-size: 13px;
}
.footer__socials {
  display: flex;
  column-gap: 8px;
}
.footer__socials a {
  width: 48px;
}
.footer__socials a img {
  max-width: 100%;
}

@media (max-width: 576px) {
  .footer .wrapper {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .footer__info {
    text-align: center;
    row-gap: 4px;
  }
}

/*# sourceMappingURL=main.css.map */
