@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    color: #727272;
    line-height: 164%;
    height: 100%;
}

a {
    text-decoration: none;
    color: $color-black;
}

h1 {
    font-size: 48px;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-black;
}

.wrapper {
    @extend %wrapper-1;
}

.wrapper2 {
    @extend %wrapper-2;
}

.clearfix {
    clear: both;
    color: blue;
}
