.header {
    background-color: $color-gray;
    padding: 72px 0;
    flex: 0 0 auto;

    &__logo {
        float: left;
        width: 85px;
        display: block;

        img {
            width: 100%;
        }
    }

    &__nav {
        float: right;

        ul {
            list-style: none;
        }

        li {
            float: left;
            margin-right: 42px;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    &__item {
        text-transform: uppercase;
        transition: .3s;
        line-height: 38px;

        &:hover {
            color: $color-primary;
        }

        &_active {
            color: $color-active;
            font-weight: $medium;
        }
    }
}

.header {
    @media (max-width: $tablet) {
        &__logo, &__nav {
            float: none;
        }

        &__logo {
            margin: 0 auto;
        }

        &__nav {
            width: max-content;
            margin: 16px auto 0;

            li {
                margin-right: 32px;
            }
        }
    }

    @media (max-width: $mobile) {
        padding: 36px 0;

        &__nav {
            text-align: center;

            li {
                float: none;
                margin-right: 0;
            }
        }
    }
}