.footer {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: #34547A;
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}